/* Import the 'Poppins' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

@font-face {
    font-family: 'notes';
    src: url('./Cute\ Notes.ttf');
}

h1 {
    font-family: 'notes';
    font-size: 30px;
}

/* Set the font family for the body to 'Poppins', sans-serif */
body {
    font-family: 'Poppins', sans-serif;
}

/* Styles for the navigation bar */
#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 100;
    transition: all 0.3s;
    margin: 20px 0;
}

/* Styles for the navigation list */
#nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    background-color: aquamarine;
    padding: 10px 0;
}

/* Styles for the list items in the navigation list */
#nav-list li{
    margin-right: 20px;
    padding: 5px 7px;
}



/* Styles for the list items in the navigation list on hover */
#nav-list li:hover {
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 10px;
    transition: all 0.3s;
}

/* Styles for the split container layout */
.split-container {
    display: flex;
    height: 100vh;
}

/* Styles for the editor pane and preview pane */
.editor-pane,
.preview-pane {
    flex: 1;
    height: 80%;
    overflow: auto;
    margin-top: 5%;
}

/* Styles for the textarea */
textarea {
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    resize: none;
    outline: none;
}

/* Styles for the rendered output */
#rendered-output {
    padding: 10px;
}

/* Styles for the heading level select dropdown */
#heading-level {
    padding-top: 2px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


#tick {
    font-size: 15px;
    background-color: aquamarine;
    border: none;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    position: fixed;
    bottom: 85px;
    right: 35px;
  }

#copy-button {
    background-color: aquamarine;
    border: 1px solid #030303;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    right: 30px;
  }


@media screen and (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768px (e.g., phones and tablets) */
  
    /* Update the split-container layout to a column layout */
    .split-container {
      flex-direction: column;
    }
  
    /* Adjust height for both panes on small screens */
    .editor-pane,
    .preview-pane {
      height: 50%;
      
    }

    .split-container {
      margin-top: 30px;
    }

    #nav-list {
        padding: 5px 0;
    }
    
    #nav-list li{
        font-size: 15px;
        margin-right: 6px;
        padding: 5px 5px;
    }

    #nav {
        height: 50px;
        justify-content: center;
        padding: 0 5px;
        margin: 10px 0;
    }

    h1 {
        font-size: 23px;
    }
  }